<ion-header>
  <ion-toolbar>
    <ion-title class="main-title">OpenWeather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="input-card">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input
          [(ngModel)]="cityName"
          placeholder="Ingresa el nombre de la ciudad"
        ></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="getWeather()">Consultar Clima</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="weatherData" class="weather-card">
    <ion-card-header>
      <ion-card-title>{{ weatherData.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Temperatura:</strong> {{ weatherData.main.temp }} °C</p>
      <p><strong>Humedad:</strong> {{ weatherData.main.humidity }}%</p>
      <p><strong>Clima:</strong> {{ weatherData.weather[0].description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
