:host {
    --background: linear-gradient(180deg, #0f172a, #1e293b);
  }
  
  ion-header {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
  }
  
  .main-title {
    color: #e0c008;
    font-size: 1.8rem;
    text-align: center;
  }
  
  ion-content {
    background: var(--background);
    color: white;
  }
  
  .input-card {
    background-color: #1e293b;
    margin: 16px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .weather-card {
    background-color: #334155;
    color: white;
    margin: 16px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  ion-card-title {
    color: #e0c008;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 16px;
  }
  
  ion-button {
    --background: #005baa;
    --background-hover: #004080;
    --color: #ffffff;
    margin-top: 12px;
  }
  
  ion-input {

    --color: white;
    border-radius: 8px;
    padding: 10px;
  }
  